
*.SchDocPreview
History/Pop.~(1).PrjPCB.Zip
History/Pop.~(1).SchDoc.Zip
History/Pop.~(2).SchDoc.Zip
History/PopAudio.~(1).SchDoc.Zip
Project Logs for Pop/Pop SCH ECO 11-12-2018 7-22-57 PM.LOG
*.LOG
*.Zip
*.drc
*.html
*.PcbDocPreview
